<h2>Search Trains</h2>

<div class="form-group">
  <label for="source">Source </label>
  <input type="text" class="form-control" id="source" placeholder="Enter Source">
</div>

<div class="form-group">
  <label for="destination">Destination </label>
  <input type="text" class="form-control" id="destination" placeholder="Enter Destination">
</div>

<div class="form-group">
  <label for="Date">Date </label>
  <input type="date" class="form-control" id="Date">
</div>

<button type="submit" class="btn btn-primary">Search</button>
